@page
@model Electronics_Items_Management.Pages.Order_Details.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order_Detail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order_Detail.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order_Detail.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order_Detail.Discount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order_Detail.Discount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order_Detail.Customer_Detail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order_Detail.Customer_Detail.Customer_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order_Detail.Product_Detail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order_Detail.Product_Detail.Product_Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Order_Detail.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
