@page
@model Electronics_Items_Management.Pages.Product_Details.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product_Detail[0].Product_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product_Detail[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product_Detail[0].Brand_Detail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product_Detail[0].Category_Detail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product_Detail) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand_Detail.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category_Detail.Product)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
